@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

:root {
  font-family: 'Source Serif 4', serif;
  font-optical-sizing:none;
  font-stretch: ultra-expanded;
  color-scheme: light dark;

  --primary: #ff285e;
  --background: #242424;
  --text-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary: #ac1d41; 
    --background: #EFEFEF;
    --text-rgb: 0, 0, 0;
  }
  .logo-image{
    filter: invert(1);
  }
  .geto{
    filter: invert(1);
  }
}

body {
  margin: 0;
  background-color: var(--background);
  color: rgba(var(--text-rgb),0.8);
}

/* Navigation */
.logo-image{
  padding: 20px;
  width: 50px;
  transition: 0.5s;
}

.logo-image:active{
  transform: rotate(360deg);
}

nav{
  width: 100%;
  position: fixed;
  z-index: 10;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  user-select: none;
}

nav h2{
  margin: 0;
}

nav.scrolled{
  background-color: var(--background);
  border-bottom: 1px solid rgb(var(--text-rgb));
}

.site-header{
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

/* Hero */

.hero{
  position: relative;
}

.hero-text{
  width: 100%;
  text-align: center;
  position: absolute;
  transform: translateY(-400px);
}

.hero-image{
  width: 100%;
  object-fit: cover;
  height: 800px;
}

.fade{
  width: 100%;
  position: absolute;
  height: 600px;
  transform: translateY(-600px);
  background: linear-gradient(transparent 0%, var(--background) 100%);
}

/* Content */
.content{
  padding: 6rem;
  text-align: start;
}

.geto{
  z-index: -1;
  position: absolute;
  width: 100%;
  opacity: 0.03;
}

button{
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  border: 1px solid rgb(var(--text-rgb));
  border-radius: 10px;
  padding: 10px;
}

a{
  transition: 0.3s;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
}

a:hover{
  color: var(--primary);
}

a:active{
  transform: translateY(5px);
}

button:hover{
  border-color: var(--primary);
  color: var(--primary);
}

button:active{
  transform: translateY(10px);
}

h1,h2,h3{
  font-weight: 500;
}

h1{
  font-size: 5rem;
}

h2{
  font-size: 3rem;
}

h3{
  font-size: 2rem;
}

p{
  font-size: 1.5rem;
}

span{
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 768px){
  .content{
    padding: 20px;
  }
  h1{
    font-size: 3rem;
  }
  h2{
    font-size: 2rem;
  }
}