@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

:root {
  font-family: 'Fredoka';
  color-scheme: light dark;

  --primary: #ff285e;
  --background: #242424;
  --text-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary: #ac1d41; 
    --background: #EFEFEF;
    --text-rgb: 0, 0, 0;
  }
  .logo-image{
    filter: invert(1);
  }
}

body {
  margin: 0;
  background-color: var(--background);
  color: rgba(var(--text-rgb),0.8);
}

/* Navigation */
.logo-image{
  width: 50px;
}

nav{
  padding: 20px;
  position: fixed;
  z-index: 10;
}

/* Hero */

.hero-text{
  text-align: center;
  position: absolute;
  transform: translateY(-20rem);
}

.hero-text p{
  margin: 0 20%;
}
.hero-image{
  width: 100%;
  object-fit: cover;
  height: 800px;
}

.fade{
  width: 100%;
  position: absolute;
  height: 800px;
  transform: translateY(-800px);
  background: linear-gradient(transparent 0%, var(--background) 100%);
}

/* Content */
.content{
  padding: 6rem;
  text-align: start;
}

.geto{
  position: absolute;
  width: 100%;
}

/* Font Styles */
h1,h2{
  font-family: 'Source Serif 4', serif;
  font-weight: 600;
}

h1{
  font-size: 4rem;
}

h2{
  font-size: 2.5rem;
}

h3{
  font-weight: 300;
}

